.info {
    font-style: italic;
    color: #FFFFFF
}

body {
    background-image: url("../images/lion.jpg");
}

.title {
    color: #e68a00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-decoration: underline;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #e68a00;
}

h3 {
    color: #e68a00;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a, li {
    font-size: 18px;
    color: #ffffff;
}
